
@{
    ViewBag.Title = "UpdatePasswordSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-danger text-center h3">Đổi mật khẩu thành công</h2>
<p class="text-center"><a class="text-decoration-none" href="@Url.Action("Login", "Account")">Nhấn vào đây để đến trang login</a></p>
