
@{
    ViewBag.Title = "Failure";
}
<link href="~/asset/client/css/Failure.css" rel="stylesheet" type="text/css" media="all" />
<div id="notfound">
    <div class="notfound">
        <div class="notfound-404">
            <h1>F<span>A</span>I<span>L</span></h1>
        </div>
        <h2>Something went wrong</h2>
        <a class="btn btn-danger" href="@Url.Action("Index", "Home")">Back to Home</a>
    </div>
</div>

