
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body class="success-cart">
    <div class="card">
        <div style="border-radius:200px; height:200px; width:200px; background: #F8FAF5; margin:0 auto;">
            <i class="checkmark">✓</i>
        </div>
        <h1 class="success-h1">Success</h1>
        <p class="success-p">Cảm ơn bạn đã đặt hàng;<br /> Chúng tôi sẽ liên lạc với quý khách sau!</p>
    </div>
</body>
