
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body class="success-cart">
    <div class="card">
        <div style="border-radius:200px; height:200px; width:200px; background: #F8FAF5; margin:0 auto;">
            <i class="checkmark">✓</i>
        </div>
        <h1 class="success-h1">Success</h1>
        <p class="success-p">
            Cảm ơn quý khách đã đặt hàng.<br />
            Chúng tôi sẽ liên lạc với quý khách sau.<br />
            Quý khách vui lòng vào email để kiểm tra thông tin đặt hàng. <br />
            Nếu có thông tin chưa chính xác quý khách vui lòng liên hệ ngay với chúng tôi. <br />          
        </p>
    </div>
</body>
