
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content">

    <h2>Quá trình hình thành</h2><hr />
    <p>
        Công ty được hình thành bởi nhóm đội ngũ trẻ có ước mơ lớn lao liên quan đến công nghệ. Bằng những trải nghiệm máy tính trong việc học tập và đời sống<br />và điều quan trọng nhất là trong tình hình dịch bệnh gần đây thì việc mua bán online là rất cần thiết.
        Công ty đã xây dựng được một phong cách tư vấn bán <br />hàng đặc biệt nhờ vào một đội ngũ nhân viên chuyên nghiệp và trang web SNSHOP hỗ trợ như là một cẩm nang về laptop.Hiện nay, số lượng laptop bán <br /> ra trung bình tại SNSHOP khoảng 300.000 máy/tháng chiếm khoảng 15% thị phần laptop chính hãng cả nước.
        Đây là một kênh bán hàng tiềm năng và là <br />một công cụ hữu hiệu giúp các khách hàng ở những khu vực xa mua được một sản phẩm ưng ý khi không có điều kiện xem trực tiếp sản phẩm, là website<br /> thương mại điện tử với số lượng truy cập hơn 1.200.000 lượt ngày, cung cấp thông tin chi tiết về giá cả, hình ảnh
        sắc nét,tính năng kĩ thuật vượt trội của hơn<br /> 200 laptop của tất cả các nhãn hiệu chính thức tại Việt Nam.
    </p>
    <p>Trong suốt quá trình hoạt động, SNSHOP luôn nỗ lực với mục tiêu cao nhất là mang lại sự hài lòng cho khách hàng thông qua những dịch vụ, sản phẩm và<br> giải pháp công nghệ tối ưu nhất. Đồng thời, SN không ngừng nghiên cứu và cung cấp các sản phẩm mới, chất lượng cho khách hàng. <p>
        <hr /><h2> Sứ mệnh</h2>
    <p>SN mong muốn trở thành trang web cung cấp giải pháp và thiết bị về công nghệ hàng đầu Việt Nam và số lượng bán ra ngày càng vượt trội hơn nữa.</p>
    <hr /><h2>Giá trị cốt lõi</h2>
    <p>
        * Khách hàng:<br />
        - Hài lòng về trải nghiệm<br />
        - Cam kết về dịch vụ<br />
    </p>
</div>