
@{
    ViewBag.Title = "OrdersReturn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">Chính sách vận chuyển</h2>

<p>
    Miễn phí giao hàng trong phạm vi 500km, thời gian giao hàng từ 8h sáng đến 21h hằng ngày. 
    Ngày tết, lễ không vận chuyển. Thực hiện giao hàng trên toàn quốc.
</p>
<p>
    Khi nhận đơn hàng đặt từ người mua và xác nhận đơn hàng, chúng tôi sẽ giao hàng theo mong muốn khách hàng. Chi phí do khách hàng tự trả. Thời gian giao hàng tùy theo vị trí, nếu liên tỉnh có thể mất 4-5 ngày, trong phạm vị thành phố có thể giao 1-2 ngày và nếu khách hàng muốn nhanh có thể giao hỏa tốc trong ngày thì chi phí vận chuyển có thể cao hơn.
    Ngân
    Hàng được đảm bảo nguyên vẹn và giao tận tay khách hàng. Được xem hàng trước khi nhận.
</p>
<p>
    Chỉ giao hàng cho đúng người đại diện đặt hàng. Khi giao hàng không đúng người nhận một cách không rõ ràng đơn vị chúng tôi có quyền từ chối.
</p>
<p>
    Thời gian giao hàng trong dịp lễ có thể thay đổi và kéo dài do quá trình xe cộ hoặc 1 số lý do khác.
</p>
<p>
    Mọi thông tin vui long liên hệ
    Email: ngant4741@gmail.com
    Tel: 0828500xxx
</p>