
@{
    ViewBag.Title = "UpdatePasswordSuccess";
    Layout = "~/Areas/Sales/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-9">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <div class="text-center">
                        <h1 class="h4 text-gray-900 mb-2 text-center">Cập nhật mật khẩu thành công</h1>
                        <p>Mật khẩu mới của bạn đã được cập nhật thành công</p>
                        <a href="@Url.Action("Index", "Home")">Nhấp vào đây để về trang đăng nhập</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

